foo = 1
foo = 2

bar : 3

atoms : {
    null = null
    true = true
    false = false
}

comma : {
    array : [
        [ 1 2 3 ],
        [ 1, 2, 3 ],
        [ 1, 2, 3, ]
    ]
    object : [
        { a : 1 b : 2 c : 3 },
        { a : 1, b : 2, c : 3 },
        { a : 1, b : 2, c : 3, }
    ]
}

a.b.c = 1

d.-.- = 2

c = {
   d = { e = 1 },
   f.g = { h.i = 2 }
}

e = [ 1 ] + [ 2 3 ] + [] + [ 4 5 6 ]
e += []
e += [ 7 ] + [] + [ 8 9 ]

f += "hallo"

binary = $de.ad.be.ef

multi = '''
multi
line
string
'''

quoted_keys = {
    b1 = 1
    "b1" = 2

    b2 = 1
    'b2' = 2

    b3 = 1
    '''b3'''= 2

    b4 = 1
    '''
b4'''= 2

    b5 = 1
    """b5"""= 2

    b6 = 1
    """
b6"""= 2

    "" = 2
    "123" = 2
}

(delete? frobnicate.unexisting)

(include? "unexisting.config")

hex1 = 0x123
hex2 = +0X123
hex3 = -0x123

float1 = .1
float2 = 123e45
float3 = -.42
float4 = -1.2e-1
float5 = 0.0
float6 = NaN
float7 = -Infinity

x.a.x = 1
x.a.y = 2
x.a.z = 3
x.b.x = 1
x.b.y = 2
x.b.z = 3

(delete x.*.y)
