null = null
true = true
false = false

bool = {
   a = null + null
   b = null + true
   c = true + null
   d = null + false
   e = false + null
   f = true + false
   g = false + true
   h = true + true
   i = false + false
   j = null + false + true
   k = false + null + true
   l = true + null + null
   m = null + false + null
}

e.f.g = 1

f.-.- = 2

g = {
   d = { e = 1 },
   f.g = { h.i = 2 }
}

h = [ 1 ] + [ 2 3 ] + [] + [ 4 5 6 ]
h += []
h += [ 7 ] + [] + [ 8 9 ]

i += "hallo"

binary = $de.ad.be.ef

multi = '''
multi
line
string
'''

quoted_keys = {
    b1 = 1
    "b1" = 2

    b2 = 1
    'b2' = 2

    b3 = 1
    '''b3'''= 2

    b4 = 1
    '''
b4'''= 2

    b5 = 1
    """b5"""= 2

    b6 = 1
    """
b6"""= 2

    "" = 2
    "123" = 2
}

(delete? frobnicate.unexisting)

(include? "unexisting.config")
