null = null
true = true
false = false

a = 1
a = 2

b.c.d.e = 2

c.-.d.- = 3
c.0.d.- = 4
c.0.d.0 = 5

a = 3

b.c.d.e = 4

q = {
    b1 = 1
    "b1" = 2

    b2 = 1
    'b2' = 2

    b3 = 1
    '''b3'''= 2

    b4 = 1
    '''
b4'''= 2

    b5 = 1
    """b5"""= 2

    b6 = 1
    """
b6"""= 2

    "" = 2
    "123" = 2
}

a = 42

e = [ 7 [ 8 [ 9 {
   a = 1
   b.c = 2
   b.d.- = 3
   b.e = {
      f = {
         g = [ 1 [ 2 [ 3 {
            h = "hallo"
         } ] ] ]
      }
   }
} 4 ] 5 ] 6 ]
