a = [ 1 2 3 ]

(delete a.*)

b = [ 1 2 3 ]

(delete b)

c = {
    a : 1,
    b = 2,
    c : 3
}

(delete c.b)

d = [ 1 2 3 ]

(delete d.-)

e = {
    a : [ 1 2 3 ],
    b : [ 1 2 3 4 ]
}

(delete e.a.-)
(delete e.b.-)

f.a.a.a = 1
f.a.a.b = 2
f.a.a.c = 3
f.a.b.a = 4
f.a.b.b = 5
f.a.b.c = 6
f.a.c.a = 7
f.a.c.b = 8
f.a.c.c = 9
f.b.a.a = 11
f.b.a.b = 12
f.b.a.c = 13
f.b.b.a = 14
f.b.b.b = 15
f.b.b.c = 16
f.b.c.a = 17
f.b.c.b = 18
f.b.c.c = 19
f.c.a.a = 21
f.c.a.b = 22
f.c.a.c = 23
f.c.b.a = 24
f.c.b.b = 25
f.c.b.c = 26
f.c.c.a = 27
f.c.c.b = 28
f.c.c.c = 29

(delete f.a.*.b)
(delete f.*.b.c)

g = [
   [ 1 2 3 ]
   [ 1 2 3 ]
   [ 1 2 3 ]
]

(delete g.*.1)

(delete? h)
(delete? h.a)
(delete? h.1)
(delete? h.*)
(delete? h.-)
